body {
    background-image: url("https://apod.nasa.gov/apod/image/2210/stsci-pillarsofcreation.png");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;

}

.space_title {
    font-size: 81px;
    color: rgb(2 26 60);
    font-family: Amar;
    src: url('fonts/Amar.ttf');
    text-align: center;
}


.card {
    width: 1300px;
    height: 160px;
    background-color: #8500ff;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.solar-system-card{
    width: 1300px;
    height: 200px;
    background-color: #8500ff;
    border-radius: 20px;
    transition-duration: 0.5s;
    background-image: url(https://cdn.pixabay.com/photo/2014/09/08/09/24/solar-system-439046__340.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.solar-system-card:hover{
    opacity: 0.9;
    transform: scale(1.06)
}
.card:hover {
    opacity: 0.7;
    transform: scale(1.06)
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.name {
    text-align: center;
    transition-duration: 0.5s;
    color: rgb(3 0 85);
    font-size: 35px;
}



.name:hover {
    color: rgb(44, 0, 53);
}

.a {
    text-decoration: none;
}

.fas {
    font-size: 50px;
    color: rgb(52, 0, 0);
    margin-left: 1000px;
}
