body {
    background-image: url("https://apod.nasa.gov/apod/image/2210/stsci-pillarsofcreation.png");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.space_title {
    src: url('fonts/Amar.ttf');
    font-size: 100px;
    font-weight: bold;
    color: rgb(0, 21, 50);
    font-family: Amar;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.card {
    height: 200px;
    border-radius: 20px;
    transition-duration: 0.5s;
    background-color: blue;
    opacity: .6;
}

.card:hover {
    opacity: 0.9;
    transform: scale(1.05)
}

#card1 {
    background-image: url(images/div1-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#card2 {
    background-image: url(images/div2-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#card3 {
    background-image: url(images/div3-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#card4 {
    background-image: url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.name {
    src: url('fonts/Amar.ttf');
    font-family: Amar;
    text-align: center;
    transition-duration: 0.5s;
    color: rgb(3 0 85);
    font-size: 40px;
    line-height: 200px;
    vertical-align: middle;
}

.name:hover {
    color: rgb(72, 0, 255);
}

#name1 {
    color: rgb(6 0 178);
}

#name2 {
    color: #fff1e7;
}

#name3 {
    color: #bcbdeb;
}

#name4 {
    color: #110014;
}


.a {
    width: 90%;
    text-decoration: none;
}
